.course-container {
    border: solid 1px rgba(0, 0, 0, 0.20);
				border-radius: 10px;
        display: flex;
        box-sizing: border-box;
        position: relative;
        width: 80%;
        padding: 30px;
        height: 150px;
        left: 110%;
        bottom: 102%;

}

.course-input {
   
        border: #321602;
        border-bottom: 2px solid #080819;
        border-radius: 10%;
        background: none;
        padding: 20px 6px;
        font-weight: 700;
        top: 50px;
        padding-bottom: 7px;
        font-family: 'Alex Brush', cursive;
        position: relative;
        right: 65px;
}

