header {
    margin-bottom: 30px;
}

.feed-col-md-4 {
    margin-bottom: 30px;
    height: 1000px;
    border: solid 1px rgba(0, 0, 0, 0.20);
    padding: 30px;
     border: solid 1px rgba(0, 0, 0, 0.20);
     cursor: pointer;
    border-radius: 50px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 50px;
}

.feed-col-md-4:hover {
    box-shadow:0 0 12px 3px rgba(0, 0, 0, 0.08);

}



.feed-card-title {
    margin-top: 20px;
}

.feed-card-text {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.feed-card-text .fa {
    font-size: 26px;
}

.feed-avatar {
    margin: auto;
}

.feed-avatar img {
    border: solid 6px transparent;
    border-radius: 50%;
    height: 250px;
    
}

.feed-avatar img:hover{
    box-shadow: 0 0 12px 3px;
    animation-duration: 12ms;
}

.feed-card:hover .avatar img {
    border-color: rgb(99, 204, 131);
    cursor: pointer;
}

.feed-btn {
    border-radius: 25px;
}

footer p {
    color: rgba(0, 0, 0, 0.6);
}

footer p a,
footer p a:hover {
    color: rgb(99, 204, 131);
}



@media (min-width: 1200px) {
    .container {
        max-width: 1040px;
    }
}

.card-container.div {
    box-sizing: border-box;

}

