
.the-menu-container {
    border-top-right-radius: solid 1px rgba(0, 0, 0, 0.20);    
  	border-radius: 10px;
		display: flex;
		box-sizing: border-box;
		position: relative;
		padding: 0px; 
		margin-top: 20px;
		margin-left: 12%;
		margin-right: 12%;
		margin-bottom: 30px;
		height: 720px;
}



* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #f4efeb;
    font-family: 'Cardo', serif;
}

/* #bg {
    background-image: url('https://drive.google.com/uc?export=view&id=0B5eNVqX2nZE_ZTQwZTQ1WUZhNEk');
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    background-size: cover;
    height: 250px;
    max-width: 1152px;
} */

#logo {
    max-width: 100%;
}

.secTitle {
    font-family: 'Alex Brush', cursive;
    font-size: 3em;
    font-weight: 500;
    color: #321602;
    position: relative;
    text-align: center;
    justify-content: center;


}

.dishName {
    font-weight: 600;
    font-variant: small-caps;
    font-size: 1.1em;
}

.dishDesc {
    font-size: .9em;
}

.price {
    text-align: left;
}

.add {
    text-align: right;
}

.text-center {
    text-align: center;
    position:static;

}

.create-menu-form {
    font-family: 'Alex Brush', cursive;
    border: solid 1px rgba(0, 0, 0, 0.20);
				border-radius: 10px;
       
       
        width: 100%;
        padding: 30px 0;
        margin-top: 20px;
        margin-bottom: 30px;
        display: flex;
        flex-direction:row;
        
        
        
        


    
}

.form-field {
position: relative;
    border:#321602;
    border-bottom: 2px solid #080819;
    border-radius: 10%;
    background: none;
    padding: 20px 6px;
    font-weight: 700;
    top: 50px;
    padding-bottom: 7px;
    font-family: 'Alex Brush', cursive;
    right: 30px
    
    
}

.text-area-field {
    position: relative;
    border: #321602;
    border-bottom: 2px solid #080819;
        border-radius: 10%;
        background: none;
        padding: 20px 6px;
        font-weight: 700;
        top: 50px;
        padding-bottom: 7px;
        font-family: 'Alex Brush', cursive;
        right: 30px;
    
}


.menu-form-button {
    background: transparent;
    margin-top: 60px;
    border-radius: 26px;
    border: 1px solid #D4D3E8;
    font-weight: 700;
    align-items: center;
    width: 70%;
    color: #373634;
    box-shadow: 0px 2px 2px #434348;
    cursor: pointer;
    transition: .2s;
    margin-left: 1px;
    margin-bottom: 40px;
    padding: 5px;
    font-family: 'Alex Brush', cursive;
    position: relative;
    right: 29px;
    top: 8px;
    justify-content: center;
    
    
    

}

.menu-form-button:active,
.menu-form-button:focus,
.menu-form-button:hover {
    border-color: #9a4c15;
    outline: none;
    cursor: pointer;
}

.form-padding {
    padding-bottom: 1px;
}

.form-menu-submit {

    background: transparent;
        margin-top: 60px;
        border-radius: 26px;
        border: 1px solid #D4D3E8;
        font-weight: 700;
        display: flex;
        width: 70%;
        color: #373634;
        box-shadow: 0px 2px 2px #434348;
        cursor: pointer;
        transition: .2s;
        margin-left: 1px;
        margin-bottom: 30px;
        padding: 10px;
        font-family: 'Alex Brush', cursive;
        position: relative;
        right: 25px;
        justify-content: center;
        bottom: 60px;
      

}

.form-menu-submit:active,
.form-menu-submit:focus,
.form-menu-submit:hover {
 border-color: #9a4c15;
 outline: none;
 cursor: pointer; 
}


.align-inputs {
    position: relative;
    right: 20px;
    top: 20px;
    left: 13px;

}

.menu-title {
    left: 50px;
    position: relative;
    text-decoration:underline;
    top: 15px;

}